NODE_ENV=development
PORT=4000

# Database (PostgreSQL + PostGIS)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=darb_admin
DATABASE_PASSWORD=darb_secret_password_2026
DATABASE_NAME=darb_db

# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
JWT_SECRET=darb_jwt_super_secure_key_iraq_2026

# Firebase
FIREBASE_PROJECT_ID=darb-iraq-app
